[submodule "unity"]
	path = unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "openpixelcontrol"]
	path = openpixelcontrol
	url = https://github.com/zestyping/openpixelcontrol
[submodule "fadecandy"]
	path = fadecandy
	url = https://github.com/scanlime/fadecandy
