#This the the canonical lab .gitignore file

#ignore temp files
*~

#ignore macOS files
.DS_Store

#Matt files to ignore
test/Makefile
out/
car.sh
temp.c

#ignore CLion files
CMakeLists.txt
.idea/
cmake-build-debug/

##ignore pdf files (just keep source files)
#*.pdf

#ignore junk files from latex output
doc/*.out
*.log
*.aux
*.dvi
*.ps

#ignore junk files from compiling C code
src/build/*

#ignore junk files from compiling Haskell code
*.hi

#ignore junk files from compiling Java code
*.class

#Ignore test outputs
src/test/build/*

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc
